header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  z-index: 1;
  background-color: #000;
  color: #fff;
}
header a {
  position: absolute;
  padding: 5px 10px;
  margin: 3px 10px;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #5E5E5E;
  font-size: 14px;
}
header h1 {
  margin: 0;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 1;
  border-top: 1px solid #000;
}
footer a {
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  line-height: 40px;
}
footer a.active {
  color: #008000;
}
.content {
  position: absolute;
  top: 36px;
  bottom: 40px;
  padding: 10px;
  left: 0;
  right: 0;
  overflow: auto;
}
.btn {
  display: inline-block;
}
.btn-link {
  color: #008000;
  display: block;
  line-height: 32px;
}
