body {
  background-color: #F8F9FA;
}
/*display: flex;*/
.df {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* flex-direction:row; */
.fdr {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* flex-direction:row-reverse; */
.fdrr {
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
/* flex-direction:column; */
.fdc {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* flex-direction:column-reverse; */
.fdcr {
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
/* justify-content:flex-start; */
.jcfs {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
/* justify-content:flex-end; */
.jcfe {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/* justify-content: center*/
.jcc {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*justify-content: space-between*/
.jcsb {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*align-items:flex-start*/
.aifs {
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/*align-items:flex-end*/
.aife {
  -webkit-box-align: end;
  -moz-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
/* align-items:center */
.aic {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* align-items: baseline*/
.aib {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
/* align-items: stretch*/
.ais {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.f1 {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.f2 {
  -webkit-box-flex: 2;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 2;
  /* OLD - Firefox 19- */
  -webkit-flex: 2;
  /* Chrome */
  -ms-flex: 2;
  /* IE 10 */
  flex: 2;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.o1 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.o2 {
  -webkit-box-ordinal-group: 2;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 2;
  /* OLD - Firefox 19- */
  -ms-flex-order: 2;
  /* TWEENER - IE 10 */
  -webkit-order: 2;
  /* NEW - Chrome */
  order: 2;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.o3 {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
/*flex container*/
.icon-message,
.icon-contact,
.icon-moving {
  background: url(../imgs/qq/sprite_footer.png) no-repeat;
  background-size: 180px auto;
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px auto 0;
}
.icon-message {
  background-position: -150px 0px;
}
.icon-contact {
  background-position: -90px 0px;
}
.icon-moving {
  background-position: -30px 0px;
}
.icon-arrow {
  display: inline-block;
  background: url('../imgs/qq/headerArrowLeft.jpg') no-repeat;
  width: 26px;
  height: 26px;
  -webkit-background-size: 26px;
  background-size: 26px;
}
.icon-msg-search {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 6px;
  background: url(../imgs/qq/msg_search.jpg) no-repeat;
  background-size: 13px auto;
  vertical-align: -2px;
}
.icon-callin,
.icon-callout,
.icon-vedio,
.icon-call {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../imgs/qq/sprite_msg_call.png) 0 0 no-repeat;
  background-size: 30px auto;
  vertical-align: middle;
}
.icon-callin {
  background-position: 0px -12px;
}
.icon-vedio {
  width: 30px;
  height: 30px;
  background-position: 0 -54px;
}
.icon-call {
  width: 30px;
  height: 30px;
  background-position: 0 -84px;
}
.icon-rmq,
.icon-txl,
.icon-qz,
.icon-shfw {
  display: block;
  width: 36px;
  height: 36px;
  margin: 16px auto 8px;
  background: url(../imgs/qq/sprite_contact.png) no-repeat;
  background-size: 144px auto;
}
.icon-rmq {
  background-position: -108px 0px;
}
.icon-txl {
  background-position: -72px 0px;
}
.icon-shfw {
  background-position: -36px 0px;
}
.icon-contactArrow {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -5px;
  display: block;
  width: 10px;
  height: 10px;
  background: url(../imgs/qq/contact_arrow.jpg) no-repeat;
  background-size: 10px auto;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.icon-hydt,
.icon-fj,
.icon-xqbl {
  display: block;
  width: 36px;
  height: 36px;
  margin: 16px auto 8px;
  background: url(../imgs/qq/sprite_qzone.png) no-repeat;
  background-size: 111px auto;
}
.icon-hydt {
  width: 39px;
}
.icon-fj {
  background-position: -39px 0px;
}
.icon-xqbl {
  background-position: -75px 0px;
}
.icon-right-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  display: block;
  width: 14px;
  height: 14px;
  background: url(../imgs/qq/commListArrow.png) no-repeat;
  background-size: 14px auto;
}
.btn-group {
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .btn .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group .btn + .btn {
  margin-left: -1px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}
.btn-default {
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}
.btn-primary {
  color: #1BA8DC;
  background: #3BC4F7;
}
.btn-primary.active {
  background: #13A2D7;
  color: #FFF;
}
.tabs-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.tabs-page > .tabs-contents {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.tabs-page > .tabs-index {
  width: 100%;
}
.header {
  position: relative;
  height: 50px;
  padding: 0px 10px;
  background-color: #18B4ED;
  color: #FFF;
}
.header-left {
  position: absolute;
  top: 0;
  left: 0px;
}
.header-center {
  text-align: center;
  line-height: 50px;
}
.header-center strong {
  font-size: 18px;
}
.header-center .btn-group .btn {
  border-radius: 15px;
  padding: 0;
  width: 75px;
  text-align: center;
  line-height: 30px;
}
.header-right {
  position: absolute;
  top: 0;
  right: 0px;
}
.header-right a {
  font-size: 17px;
}
.header a {
  display: inline-block;
  padding: 10px;
}
.footer {
  height: 61px;
  border-top: 1px solid #CCC;
  background-color: #F9F9F9;
}
.footer a {
  display: block;
  float: left;
  width: 33.333333%;
  height: 61px;
  text-align: center;
  font-size: 12px;
}
.footer a.active {
  color: #03A6E1;
}
.footer a.active .icon-message {
  background-position: 0 0;
}
.footer a.active .icon-contact {
  background-position: -120px 0px;
}
.footer a.active .icon-moving {
  background-position: -60px 0px;
}
.search {
  width: 100%;
  height: 48px;
  background: #EBECED;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.search-input {
  display: block;
  background: #FFF;
  height: 33px;
  line-height: 33px;
  margin: 7px 10px 0;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 13px;
  color: #A7A7A7;
}
.links-message > .links-a {
  display: block;
  height: 64px;
  padding: 8px 12px;
  box-sizing: border-box;
  border-bottom: 1px solid #D7D7D7;
  background-color: #FFF;
}
.links-message-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50px;
  margin-right: 10px;
}
.links-message h5 {
  margin: 5px 0 0 0;
  display: block;
  padding-bottom: 5px;
  font-size: 15px;
  color: #090909;
}
.links-message p {
  margin: 0;
  color: #808080;
  font-size: 14px;
}
.links-message time {
  display: block;
  margin: 5px 0 0 0;
  color: #ABABAB;
  font-size: 12px;
  text-align: right;
}
.links-message .num {
  display: block;
  width: 19px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  border-radius: 19px;
  overflow: hidden;
  background: #B6CAE0;
  color: #FFF;
  font-size: 12px;
  margin: 6px 0 0 20px;
}
.call-list .r {
  padding-top: 11px;
  font-size: 14px;
  color: #00A5E0;
}
.fast-link-list {
  background-color: #fff;
  height: 85px;
}
.friend-list {
  margin: 0;
  background: #fff;
}
.friend-list-h5 {
  padding-left: 10px;
  line-height: 25px;
  font-size: 12px;
  color: #808080;
  font-weight: 400;
  margin: 0;
}
.friend-list > dt {
  position: relative;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #C8C7CC;
  font-size: 15px;
}
.friend-list > dt > strong {
  position: absolute;
  left: 45px;
  right: 100px;
  top: 0;
}
.friend-list > dt > span {
  float: right;
  padding-right: 10px;
  font-size: 12px;
  color: #777;
}
.friend-list > dd {
  padding: 0;
  margin: 0;
  display: none;
}
.friend-list.open > dt > .icon-contactArrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.friend-list.open > dd {
  display: block;
}
.links-qzone {
  margin-top: 20px;
  border-top: 1px solid #DEDFE0;
  background-color: #fff;
}
.links-qzone > .links-a {
  padding: 8px 10px;
  position: relative;
  display: block;
  border-bottom: 1px solid #DEDFE0;
}
.links-qzone > .links-a h5 {
  display: block;
  padding-top: 5px;
  font-size: 15px;
  color: #090909;
  margin: 0;
}
.links-qzone-img {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  margin-right: 10px;
}
